---
import Logo from "./Logo.astro";
---

<footer class="bg-elephant px-7 py-5 lg:px-32 lg:py-20">
  <Logo fill="#aaf7b2" width="106" height="53"/>
  <nav class="[&>section>ul>li>a]:text-gossip [&>section>p]:text-white [&>section>p]:uppercase [&>section]:lg:w-1/5 flex flex-col lg:flex-row flex-wrap gap-x-2 gap-y-10 pt-10">
    <section class="">
      <p class="">Solutions for events</p>
      <ul>
        <li><a href="#">Physical</a></li>
        <li><a href="#">Digital</a></li>
        <li><a href="#">Hybrid</a></li>
      </ul>
    </section>
    <section>
      <p class="">Your goals</p>
      <ul>
        <li><a href="#">Engage your attendees</a></li>
        <li><a href="#">Plan, promote and manage your events</a></li>
        <li><a href="#">Boost networking</a></li>
        <li><a href="#">Measure the impact</a></li>
        <li><a href="#">Receive the best service</a></li>
        <li><a href="#">All products</a></li>
      </ul>
    </section>
    <section>
      <p class="">Solutions</p>
      <ul>
        <li><a href="#">Event website</a></li>
        <li><a href="#">Registration and ticketing</a></li>
        <li><a href="#">Event mobile app</a></li>
        <li><a href="#">Trade and exhibitions management</a></li>
        <li><a href="#">Networking and engagement</a></li>
        <li><a href="#">Streaming</a></li>
        <li><a href="#">Badges</a></li>
        <li><a href="#">Check-in and access control</a></li>
      </ul>
    </section>
    <section>
      <p class="">Flexible pricing</p>
      <ul>
        <li><a href="#">For a single event</a></li>
        <li><a href="#">For all your events</a></li>
      </ul>
    </section>
    <section>
      <p class="">Services</p>
      <ul>
        <li><a href="#">Additional services</a></li>
      </ul>
    </section>
    <section>
      <p class="">Eventscase</p>
      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Quality and security policy</a></li>
      </ul>
    </section>
    <section>
      <p class="">UK</p>
      <span class="text-white">London</span>
      <ul>
        <li><a href="#">enqueries@eventcase.com</a></li>
        <li><a href="#">+44 20 3608 6645</a></li>
      </ul>
    </section>
    <section>
      <p class="">Spain</p>
      <span class="text-white">Barcelona | Castellón | Madrid</span>
      <ul>
        <li><a href="#">enqueries@eventcase.com</a></li>
        <li><a href="#">+64 964 97 51 15</a></li>
      </ul>
    </section>
  </nav>
</footer>